$bg-header :#017fff;
$main-color: #0d5cb6;
$quantity-cart: #FDD835;
$bg-facebook: #3b5998;
$bg-google: #df4a32;
$bg-zalo: #0f8edd;
$bg-breadcrumb: #efefef;
$bg-body: #F4F4F4;
$bg-freeship: #009900;
$bg-pagination: #189eff;
$bg-pagination-hover: #c1e7ff;
$bg-regis-news: #F7F7F7;
$text-hotline: #c4011a;
$text-color: #242424;
$header-height: 102px;
$header-top-height: 70px;
$header-bottom-height: 32px;
$white-color: #fff;
$black-color: #000;
$btn-search-height: 40px;
$border-color: #F7F7F7;
$breadcrumb-divider: quote(">");
$rated: #FFC120;
$star: #b8b8b8;
$sidebar-height: 248px;